{%extends "layout.html" %}
{%block content%}

<div class="cover-container containerLocation">
    <div class="mainsec" style="margin-top: 150px;">
        <main class="px-3 infopage" style=" text-align: left">
            <!-- Header -->
            <h3 style="font-family: 'Reggae One', cursive; margin-top: 50px;">Welcome to the Machine Learning Guessing Game</h3>
            <!-- Sub Heading -->
            <p class="lead" style="margin-top: 40px;">This game will teach you to remmember traffic signs
                             or prepare for theory exam in driving school!</p>
            
            <!-- Sub Heading ABOUT -->
            <h3 style="margin-top: 40px;">ABOUT THIS GAME</h3>
            <!-- Info Text -->
            <p class="lead" style="margin-top: 20px;">Artificial intelligence & robotics gruaduate project.</p>
            <!-- Info Text -->
            <p>Created for the University of "Bedfordshire".</p>
            <!-- Info Text -->
            <p style="margin-top: 20px;">Machine Learning Traffic Signs Guessing Game 
               was created for the purpose of teaching people
               to remmember the signs when going to take the theory exam in the driving school or for any other purpose.</p>
            <!-- Sub Heading CONTACT -->
            <h3 style="margin-top: 40px;">CONTACT</h3>
            <!-- Links -->
            <p><a href="http://www.gmail.com" style="color:white;">Email</a> or <a href="https://github.com/"style="color:white;">download source code.</a></p>
        </main>
        <!-- Copyright Footer -->
        <footer style="margin-top: 100px;">&copy; 2021 Arnoldas Jurkus</footer>
    </div>
</div>



  {%endblock%}