{%extends "layout.html" %}
{%block content%}

<div class="cover-container containerLocation">
    <div class="mainsec" style="margin-top: 70px;">
        <main class="px-3 infopage" style=" text-align: left">
            <h3 style="font-family: 'Reggae One', cursive;">Welcome to the Machine Learning Guessing Game</h3>
            <p class="lead">This game will predict your traffic signs</p>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Veniam similique doloribus totam animi modi distinctio? Accusamus eaque ex provident dolorem temporibus, labore id veniam sequi animi quod adipisci? Quos, voluptatibus.</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae modi repudiandae exercitationem. Doloremque, sapiente. Dignissimos, alias, assumenda, nihil fuga dolorum quis corporis facilis atque accusantium eligendi vero iusto delectus repudiandae.</p>

            <h3>ABOUT THIS GAME </h3>
            <p class="lead">This game will predict your traffic signs</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque praesentium ipsa amet impedit consequuntur sit odio perspiciatis consectetur fuga, ad nemo ex blanditiis asperiores autem atque. Laudantium illo magni rem.</p>

            <h3>CONTACT</h3>
            <p><a href="http://www.gmail.com" style="color:white;">Email</a> or <a href="https://github.com/"style="color:white;">download source code.</a></p>
        </main>
    </div>
</div>



  {%endblock%}